{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="button" data-toggle="tooltip" title="{{ button_clear }}" class="btn btn-danger" onclick="clearLogs();"><i class="fa fa-eraser"></i></button>
        <button type="button" data-toggle="tooltip" title="{{ button_filter }}" onclick="filter();" class="btn btn-default"><i class="fa fa-filter"></i></button>
      </div>
      <h1>{{ heading_title }} - {{ text_logs }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="panel-body">
        <div class="well">
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label class="control-label" for="input-type">{{ entry_type }}</label>
                <select name="filter_type" id="input-type" class="form-control">
                  <option value="">{{ text_all_types }}</option>
                  {% if filter_type == 'info' %}
                  <option value="info" selected="selected">{{ text_info }}</option>
                  {% else %}
                  <option value="info">{{ text_info }}</option>
                  {% endif %}
                  {% if filter_type == 'warning' %}
                  <option value="warning" selected="selected">{{ text_warning }}</option>
                  {% else %}
                  <option value="warning">{{ text_warning }}</option>
                  {% endif %}
                  {% if filter_type == 'error' %}
                  <option value="error" selected="selected">{{ text_error }}</option>
                  {% else %}
                  <option value="error">{{ text_error }}</option>
                  {% endif %}
                  {% if filter_type == 'success' %}
                  <option value="success" selected="selected">{{ text_success }}</option>
                  {% else %}
                  <option value="success">{{ text_success }}</option>
                  {% endif %}
                </select>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label class="control-label" for="input-action">{{ entry_action }}</label>
                <input type="text" name="filter_action" value="{{ filter_action }}" placeholder="{{ entry_action }}" id="input-action" class="form-control" />
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label class="control-label" for="input-date-start">{{ entry_date_start }}</label>
                <div class="input-group date">
                  <input type="text" name="filter_date_start" value="{{ filter_date_start }}" placeholder="{{ entry_date_start }}" data-date-format="YYYY-MM-DD" id="input-date-start" class="form-control" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label class="control-label" for="input-date-end">{{ entry_date_end }}</label>
                <div class="input-group date">
                  <input type="text" name="filter_date_end" value="{{ filter_date_end }}" placeholder="{{ entry_date_end }}" data-date-format="YYYY-MM-DD" id="input-date-end" class="form-control" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <button type="button" id="button-filter" class="btn btn-primary pull-right"><i class="fa fa-search"></i> {{ button_filter }}</button>
            </div>
            <div class="col-sm-6">
              <button type="button" id="button-clear" class="btn btn-default pull-left"><i class="fa fa-refresh"></i> {{ button_clear }}</button>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <td class="text-center" style="width: 80px;">{{ column_type }}</td>
                {% if sort == 'action' %}
                <td class="text-left"><a href="{{ sort_action }}" class="{{ order|lower }}">{{ column_action }}</a></td>
                {% else %}
                <td class="text-left"><a href="{{ sort_action }}">{{ column_action }}</a></td>
                {% endif %}
                <td class="text-left">{{ column_message }}</td>
                <td class="text-center" style="width: 100px;">{{ column_execution_time }}</td>
                <td class="text-center" style="width: 100px;">{{ column_memory_usage }}</td>
                {% if sort == 'created_at' %}
                <td class="text-left" style="width: 150px;"><a href="{{ sort_date }}" class="{{ order|lower }}">{{ column_date }}</a></td>
                {% else %}
                <td class="text-left" style="width: 150px;"><a href="{{ sort_date }}">{{ column_date }}</a></td>
                {% endif %}
                <td class="text-right" style="width: 80px;">{{ column_action }}</td>
              </tr>
            </thead>
            <tbody>
              {% if logs %}
              {% for log in logs %}
              <tr>
                <td class="text-center">
                  {% if log.type == 'info' %}
                  <span class="label label-info">{{ text_info }}</span>
                  {% elseif log.type == 'warning' %}
                  <span class="label label-warning">{{ text_warning }}</span>
                  {% elseif log.type == 'error' %}
                  <span class="label label-danger">{{ text_error }}</span>
                  {% elseif log.type == 'success' %}
                  <span class="label label-success">{{ text_success }}</span>
                  {% else %}
                  <span class="label label-default">{{ log.type }}</span>
                  {% endif %}
                </td>
                <td class="text-left">
                  <strong>{{ log.action }}</strong>
                  {% if log.user_id %}
                  <br/><small class="text-muted">{{ text_user_id }}: {{ log.user_id }}</small>
                  {% endif %}
                </td>
                <td class="text-left">
                  <div class="log-message">{{ log.message }}</div>
                  {% if log.request_data or log.response_data %}
                  <div class="log-details" style="display: none;">
                    {% if log.request_data %}
                    <h5>{{ text_request_data }}:</h5>
                    <pre class="log-data">{{ log.request_data }}</pre>
                    {% endif %}
                    {% if log.response_data %}
                    <h5>{{ text_response_data }}:</h5>
                    <pre class="log-data">{{ log.response_data }}</pre>
                    {% endif %}
                  </div>
                  <a href="javascript:void(0);" class="toggle-details" data-log-id="{{ log.log_id }}">
                    <small><i class="fa fa-plus"></i> {{ text_show_details }}</small>
                  </a>
                  {% endif %}
                </td>
                <td class="text-center">
                  {% if log.execution_time %}
                  <span class="badge badge-info">{{ log.execution_time }}s</span>
                  {% else %}
                  <span class="text-muted">-</span>
                  {% endif %}
                </td>
                <td class="text-center">
                  {% if log.memory_usage %}
                  <span class="badge badge-default">{{ log.memory_usage }}</span>
                  {% else %}
                  <span class="text-muted">-</span>
                  {% endif %}
                </td>
                <td class="text-left">
                  {{ log.created_at }}
                  {% if log.ip_address %}
                  <br/><small class="text-muted">{{ log.ip_address }}</small>
                  {% endif %}
                </td>
                <td class="text-right">
                  <button type="button" class="btn btn-info btn-xs" onclick="viewLog('{{ log.log_id }}');" data-toggle="tooltip" title="{{ text_view }}">
                    <i class="fa fa-eye"></i>
                  </button>
                </td>
              </tr>
              {% endfor %}
              {% else %}
              <tr>
                <td class="text-center" colspan="7">{{ text_no_results }}</td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Log Detay Modal -->
<div class="modal fade" id="modal-log" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{ text_log_details }}</h4>
      </div>
      <div class="modal-body" id="log-details">
        <div class="text-center">
          <i class="fa fa-spinner fa-spin fa-3x"></i>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ button_close }}</button>
      </div>
    </div>
  </div>
</div>

<!-- Log Temizleme Modal -->
<div class="modal fade" id="modal-clear" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{ text_clear_logs }}</h4>
      </div>
      <div class="modal-body">
        <p>{{ text_clear_confirm }}</p>
        <div class="form-group">
          <label for="clear-days">{{ entry_clear_days }}</label>
          <select id="clear-days" class="form-control">
            <option value="7">{{ text_last_7_days }}</option>
            <option value="30" selected>{{ text_last_30_days }}</option>
            <option value="90">{{ text_last_90_days }}</option>
            <option value="365">{{ text_last_year }}</option>
            <option value="0">{{ text_all_logs }}</option>
          </select>
          <div class="help-block">{{ help_clear_days }}</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ button_cancel }}</button>
        <button type="button" class="btn btn-danger" onclick="confirmClear();">{{ button_clear }}</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
// Tarih seçici
$('.date').datetimepicker({
    language: '{{ datepicker }}',
    pickTime: false
});

// Filtreleme
$('#button-filter').on('click', function() {
    filter();
});

$('#button-clear').on('click', function() {
    $('select[name="filter_type"]').val('');
    $('input[name="filter_action"]').val('');
    $('input[name="filter_date_start"]').val('');
    $('input[name="filter_date_end"]').val('');
    filter();
});

function filter() {
    url = 'index.php?route=extension/mestech/ozon/logs&user_token={{ user_token }}';
    
    var filter_type = $('select[name="filter_type"]').val();
    if (filter_type) {
        url += '&filter_type=' + encodeURIComponent(filter_type);
    }
    
    var filter_action = $('input[name="filter_action"]').val();
    if (filter_action) {
        url += '&filter_action=' + encodeURIComponent(filter_action);
    }
    
    var filter_date_start = $('input[name="filter_date_start"]').val();
    if (filter_date_start) {
        url += '&filter_date_start=' + encodeURIComponent(filter_date_start);
    }
    
    var filter_date_end = $('input[name="filter_date_end"]').val();
    if (filter_date_end) {
        url += '&filter_date_end=' + encodeURIComponent(filter_date_end);
    }
    
    location = url;
}

// Enter tuşu ile filtreleme
$('#input-action').keydown(function(e) {
    if (e.keyCode == 13) {
        filter();
    }
});

// Log detaylarını göster/gizle
$(document).on('click', '.toggle-details', function() {
    var logId = $(this).data('log-id');
    var details = $(this).closest('td').find('.log-details');
    var icon = $(this).find('i');
    var text = $(this).find('small');
    
    if (details.is(':visible')) {
        details.slideUp();
        icon.removeClass('fa-minus').addClass('fa-plus');
        text.text('{{ text_show_details }}');
    } else {
        details.slideDown();
        icon.removeClass('fa-plus').addClass('fa-minus');
        text.text('{{ text_hide_details }}');
    }
});

// Log detaylarını görüntüle
function viewLog(log_id) {
    $.ajax({
        url: 'index.php?route=extension/mestech/ozon/getLog&user_token={{ user_token }}',
        type: 'POST',
        data: 'log_id=' + log_id,
        dataType: 'json',
        beforeSend: function() {
            $('#log-details').html('<div class="text-center"><i class="fa fa-spinner fa-spin fa-3x"></i></div>');
            $('#modal-log').modal('show');
        },
        success: function(json) {
            if (json['log']) {
                var html = '<div class="row">';
                html += '<div class="col-sm-6">';
                html += '<h4>{{ text_log_info }}</h4>';
                html += '<p><strong>{{ column_type }}:</strong> ';
                if (json['log']['type'] == 'info') {
                    html += '<span class="label label-info">{{ text_info }}</span>';
                } else if (json['log']['type'] == 'warning') {
                    html += '<span class="label label-warning">{{ text_warning }}</span>';
                } else if (json['log']['type'] == 'error') {
                    html += '<span class="label label-danger">{{ text_error }}</span>';
                } else if (json['log']['type'] == 'success') {
                    html += '<span class="label label-success">{{ text_success }}</span>';
                } else {
                    html += '<span class="label label-default">' + json['log']['type'] + '</span>';
                }
                html += '</p>';
                html += '<p><strong>{{ column_action }}:</strong> ' + json['log']['action'] + '</p>';
                html += '<p><strong>{{ column_date }}:</strong> ' + json['log']['created_at'] + '</p>';
                if (json['log']['execution_time']) {
                    html += '<p><strong>{{ column_execution_time }}:</strong> ' + json['log']['execution_time'] + 's</p>';
                }
                if (json['log']['memory_usage']) {
                    html += '<p><strong>{{ column_memory_usage }}:</strong> ' + json['log']['memory_usage'] + '</p>';
                }
                html += '</div>';
                html += '<div class="col-sm-6">';
                html += '<h4>{{ text_system_info }}</h4>';
                if (json['log']['user_id']) {
                    html += '<p><strong>{{ text_user_id }}:</strong> ' + json['log']['user_id'] + '</p>';
                }
                if (json['log']['ip_address']) {
                    html += '<p><strong>{{ text_ip_address }}:</strong> ' + json['log']['ip_address'] + '</p>';
                }
                if (json['log']['user_agent']) {
                    html += '<p><strong>{{ text_user_agent }}:</strong></p>';
                    html += '<div class="well well-sm" style="word-break: break-all;">' + json['log']['user_agent'] + '</div>';
                }
                html += '</div>';
                html += '</div>';
                
                html += '<hr/>';
                html += '<h4>{{ column_message }}</h4>';
                html += '<div class="well">' + json['log']['message'] + '</div>';
                
                if (json['log']['request_data']) {
                    html += '<h4>{{ text_request_data }}</h4>';
                    html += '<pre class="log-data">' + json['log']['request_data'] + '</pre>';
                }
                
                if (json['log']['response_data']) {
                    html += '<h4>{{ text_response_data }}</h4>';
                    html += '<pre class="log-data">' + json['log']['response_data'] + '</pre>';
                }
                
                $('#log-details').html(html);
            } else {
                $('#log-details').html('<div class="alert alert-danger">{{ error_log_not_found }}</div>');
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            $('#log-details').html('<div class="alert alert-danger">{{ error_ajax }}</div>');
        }
    });
}

// Log temizleme
function clearLogs() {
    $('#modal-clear').modal('show');
}

function confirmClear() {
    var days = $('#clear-days').val();
    
    $.ajax({
        url: 'index.php?route=extension/mestech/ozon/clearLogs&user_token={{ user_token }}',
        type: 'POST',
        data: 'days=' + days,
        dataType: 'json',
        beforeSend: function() {
            $('#modal-clear').modal('hide');
            $('#content').prepend('<div class="alert alert-info"><i class="fa fa-spinner fa-spin"></i> {{ text_clearing }}</div>');
        },
        complete: function() {
            $('.alert').remove();
        },
        success: function(json) {
            if (json['success']) {
                $('#content').prepend('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                
                setTimeout(function() {
                    location.reload();
                }, 2000);
            }
            
            if (json['error']) {
                $('#content').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
}
</script>

<style>
.log-data {
    max-height: 300px;
    overflow-y: auto;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 12px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.log-message {
    max-height: 100px;
    overflow-y: auto;
    word-wrap: break-word;
}

.toggle-details {
    text-decoration: none;
}

.toggle-details:hover {
    text-decoration: underline;
}
</style>

{{ footer }}
</rewritten_file>