{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="button" data-toggle="tooltip" title="{{ button_sync }}" class="btn btn-info" onclick="syncProducts();"><i class="fa fa-refresh"></i></button>
        <button type="button" data-toggle="tooltip" title="{{ button_filter }}" onclick="filter();" class="btn btn-default"><i class="fa fa-filter"></i></button>
      </div>
      <h1>{{ heading_title }} - {{ text_products }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="panel-body">
        <div class="well">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label" for="input-name">{{ entry_name }}</label>
                <input type="text" name="filter_name" value="{{ filter_name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label" for="input-model">{{ entry_model }}</label>
                <input type="text" name="filter_model" value="{{ filter_model }}" placeholder="{{ entry_model }}" id="input-model" class="form-control" />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label" for="input-status">{{ entry_status }}</label>
                <select name="filter_status" id="input-ozon-products-status" class="form-control">
                  <option value="">{{ text_all_status }}</option>
                  {% if filter_status == 'imported' %}
                  <option value="imported" selected="selected">{{ text_imported }}</option>
                  {% else %}
                  <option value="imported">{{ text_imported }}</option>
                  {% endif %}
                  {% if filter_status == 'active' %}
                  <option value="active" selected="selected">{{ text_active }}</option>
                  {% else %}
                  <option value="active">{{ text_active }}</option>
                  {% endif %}
                  {% if filter_status == 'inactive' %}
                  <option value="inactive" selected="selected">{{ text_inactive }}</option>
                  {% else %}
                  <option value="inactive">{{ text_inactive }}</option>
                  {% endif %}
                  {% if filter_status == 'archived' %}
                  <option value="archived" selected="selected">{{ text_archived }}</option>
                  {% else %}
                  <option value="archived">{{ text_archived }}</option>
                  {% endif %}
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <button type="button" id="button-filter" class="btn btn-primary pull-right"><i class="fa fa-search"></i> {{ button_filter }}</button>
            </div>
            <div class="col-sm-6">
              <button type="button" id="button-clear" class="btn btn-default pull-left"><i class="fa fa-refresh"></i> {{ button_clear }}</button>
            </div>
          </div>
        </div>
        <form action="" method="post" enctype="multipart/form-data" id="form-product">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\\'selected\\']').prop('checked', this.checked);" /></td>
                  <td class="text-center">{{ column_image }}</td>
                  {% if sort == 'p.name' %}
                  <td class="text-left"><a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_name }}</a></td>
                  {% else %}
                  <td class="text-left"><a href="{{ sort_name }}">{{ column_name }}</a></td>
                  {% endif %}
                  {% if sort == 'p.model' %}
                  <td class="text-left"><a href="{{ sort_model }}" class="{{ order|lower }}">{{ column_model }}</a></td>
                  {% else %}
                  <td class="text-left"><a href="{{ sort_model }}">{{ column_model }}</a></td>
                  {% endif %}
                  {% if sort == 'p.price' %}
                  <td class="text-right"><a href="{{ sort_price }}" class="{{ order|lower }}">{{ column_price }}</a></td>
                  {% else %}
                  <td class="text-right"><a href="{{ sort_price }}">{{ column_price }}</a></td>
                  {% endif %}
                  <td class="text-center">{{ column_stocks }}</td>
                  {% if sort == 'p.status' %}
                  <td class="text-left"><a href="{{ sort_status }}" class="{{ order|lower }}">{{ column_status }}</a></td>
                  {% else %}
                  <td class="text-left"><a href="{{ sort_status }}">{{ column_status }}</a></td>
                  {% endif %}
                  <td class="text-center">{{ column_sync_status }}</td>
                  {% if sort == 'p.created_at' %}
                  <td class="text-left"><a href="{{ sort_date_added }}" class="{{ order|lower }}">{{ column_date_added }}</a></td>
                  {% else %}
                  <td class="text-left"><a href="{{ sort_date_added }}">{{ column_date_added }}</a></td>
                  {% endif %}
                  <td class="text-right">{{ column_action }}</td>
                </tr>
              </thead>
              <tbody>
                {% if products %}
                {% for product in products %}
                <tr>
                  <td class="text-center">{% if product.selected %}
                    <input type="checkbox" name="selected[]" value="{{ product.ozon_product_id }}" checked="checked" />
                    {% else %}
                    <input type="checkbox" name="selected[]" value="{{ product.ozon_product_id }}" />
                    {% endif %}</td>
                  <td class="text-center">
                    {% if product.primary_image %}
                    <img src="{{ product.primary_image }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail" style="width: 50px; height: 50px;" />
                    {% else %}
                    <span class="img-thumbnail" style="width: 50px; height: 50px; display: inline-block;"><i class="fa fa-camera fa-2x"></i></span>
                    {% endif %}
                  </td>
                  <td class="text-left">
                    <strong>{{ product.name }}</strong><br/>
                    <small>Ozon ID: {{ product.ozon_id }}</small>
                    {% if product.offer_id %}
                    <br/><small>Offer ID: {{ product.offer_id }}</small>
                    {% endif %}
                  </td>
                  <td class="text-left">
                    {% if product.opencart_name %}
                    <strong>{{ product.opencart_name }}</strong><br/>
                    <small>{{ product.model }}</small>
                    {% else %}
                    <span class="text-muted">{{ text_not_linked }}</span>
                    {% endif %}
                  </td>
                  <td class="text-right">
                    <strong>{{ product.price }} {{ product.currency_code }}</strong>
                    {% if product.old_price and product.old_price != product.price %}
                    <br/><small class="text-muted">{{ product.old_price }} {{ product.currency_code }}
                    </small>
                    {% endif %}
                  </td>
                  <td class="text-center">
                    <span class="badge badge-info">{{ product.stocks }}</span>
                    {% if product.reserved > 0 %}
                    <br/><small class="text-warning">{{ text_reserved }}: {{ product.reserved }}</small>
                    {% endif %}
                  </td>
                  <td class="text-left">
                    {% if product.status == 'active' %}
                    <span class="label label-success">{{ text_active }}</span>
                    {% elseif product.status == 'inactive' %}
                    <span class="label label-warning">{{ text_inactive }}</span>
                    {% elseif product.status == 'archived' %}
                    <span class="label label-default">{{ text_archived }}</span>
                    {% elseif product.status == 'failed_moderation' %}
                    <span class="label label-danger">{{ text_failed_moderation }}</span>
                    {% elseif product.status == 'failed_validation' %}
                    <span class="label label-danger">{{ text_failed_validation }}</span>
                    {% elseif product.status == 'processing' %}
                    <span class="label label-info">{{ text_processing }}</span>
                    {% else %}
                    <span class="label label-default">{{ product.status }}</span>
                    {% endif %}
                  </td>
                  <td class="text-center">
                    {% if product.sync_status == 'synced' %}
                    <span class="label label-success">{{ text_synced }}</span>
                    {% elseif product.sync_status == 'pending' %}
                    <span class="label label-warning">{{ text_pending }}</span>
                    {% elseif product.sync_status == 'error' %}
                    <span class="label label-danger">{{ text_error }}</span>
                    {% else %}
                    <span class="label label-default">{{ product.sync_status }}</span>
                    {% endif %}
                    {% if product.last_sync %}
                    <br/><small>{{ product.last_sync }}</small>
                    {% endif %}
                  </td>
                  <td class="text-left">{{ product.created_at }}</td>
                  <td class="text-right">
                    <div class="btn-group">
                      <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-cog"></i> <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="javascript:void(0);" onclick="viewProduct('{{ product.ozon_product_id }}');"><i class="fa fa-eye"></i> {{ text_view }}</a></li>
                        {% if product.product_id %}
                        <li><a href="{{ product.edit_url }}" target="_blank"><i class="fa fa-pencil"></i> {{ text_edit_opencart }}</a></li>
                        {% endif %}
                        <li><a href="javascript:void(0);" onclick="syncProduct('{{ product.ozon_product_id }}');"><i class="fa fa-refresh"></i> {{ text_sync }}</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:void(0);" onclick="deleteProduct('{{ product.ozon_product_id }}');"><i class="fa fa-trash"></i> {{ text_delete }}</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td class="text-center" colspan="10">{{ text_no_results }}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Ürün Detay Modal -->
<div class="modal fade" id="modal-product" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{ text_product_details }}</h4>
      </div>
      <div class="modal-body" id="product-details">
        <div class="text-center">
          <i class="fa fa-spinner fa-spin fa-3x"></i>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ button_close }}</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
// Filtreleme
$('#button-filter').on('click', function() {
    filter();
});

$('#button-clear').on('click', function() {
    $('input[name="filter_name"]').val('');
    $('input[name="filter_model"]').val('');
    $('select[name="filter_status"]').val('');
    filter();
});

function filter() {
    url = 'index.php?route=extension/mestech/ozon/products&user_token={{ user_token }}';
    
    var filter_name = $('input[name="filter_name"]').val();
    if (filter_name) {
        url += '&filter_name=' + encodeURIComponent(filter_name);
    }
    
    var filter_model = $('input[name="filter_model"]').val();
    if (filter_model) {
        url += '&filter_model=' + encodeURIComponent(filter_model);
    }
    
    var filter_status = $('select[name="filter_status"]').val();
    if (filter_status) {
        url += '&filter_status=' + encodeURIComponent(filter_status);
    }
    
    location = url;
}

// Enter tuşu ile filtreleme
$('#input-name, #input-model').keydown(function(e) {
    if (e.keyCode == 13) {
        filter();
    }
});

// Ürün senkronizasyonu
function syncProducts() {
    $.ajax({
        url: 'index.php?route=extension/mestech/ozon/syncProducts&user_token={{ user_token }}',
        type: 'POST',
        dataType: 'json',
        beforeSend: function() {
            $('#content').prepend('<div class="alert alert-info"><i class="fa fa-spinner fa-spin"></i> {{ text_syncing }}</div>');
        },
        complete: function() {
            $('.alert').remove();
        },
        success: function(json) {
            if (json['success']) {
                $('#content').prepend('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                
                setTimeout(function() {
                    location.reload();
                }, 2000);
            }
            
            if (json['error']) {
                $('#content').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
}

// Tekil ürün senkronizasyonu
function syncProduct(product_id) {
    $.ajax({
        url: 'index.php?route=extension/mestech/ozon/syncProduct&user_token={{ user_token }}',
        type: 'POST',
        data: 'product_id=' + product_id,
        dataType: 'json',
        beforeSend: function() {
            $('#content').prepend('<div class="alert alert-info"><i class="fa fa-spinner fa-spin"></i> {{ text_syncing_product }}</div>');
        },
        complete: function() {
            $('.alert').remove();
        },
        success: function(json) {
            if (json['success']) {
                $('#content').prepend('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                
                setTimeout(function() {
                    location.reload();
                }, 1000);
            }
            
            if (json['error']) {
                $('#content').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
}

// Ürün detaylarını görüntüle
function viewProduct(product_id) {
    $.ajax({
        url: 'index.php?route=extension/mestech/ozon/getProduct&user_token={{ user_token }}',
        type: 'POST',
        data: 'product_id=' + product_id,
        dataType: 'json',
        beforeSend: function() {
            $('#product-details').html('<div class="text-center"><i class="fa fa-spinner fa-spin fa-3x"></i></div>');
            $('#modal-product').modal('show');
        },
        success: function(json) {
            if (json['product']) {
                var html = '<div class="row">';
                html += '<div class="col-sm-4">';
                if (json['product']['primary_image']) {
                    html += '<img src="' + json['product']['primary_image'] + '" class="img-responsive" />';
                } else {
                    html += '<div class="text-center" style="padding: 50px;"><i class="fa fa-camera fa-5x text-muted"></i></div>';
                }
                html += '</div>';
                html += '<div class="col-sm-8">';
                html += '<h4>' + json['product']['name'] + '</h4>';
                html += '<p><strong>Ozon ID:</strong> ' + json['product']['ozon_id'] + '</p>';
                if (json['product']['offer_id']) {
                    html += '<p><strong>Offer ID:</strong> ' + json['product']['offer_id'] + '</p>';
                }
                html += '<p><strong>{{ column_price }}:</strong> ' + json['product']['price'] + ' ' + json['product']['currency_code'] + '</p>';
                html += '<p><strong>{{ column_stocks }}:</strong> ' + json['product']['stocks'] + '</p>';
                html += '<p><strong>{{ column_status }}:</strong> ' + json['product']['status'] + '</p>';
                if (json['product']['description']) {
                    html += '<p><strong>{{ text_description }}:</strong></p>';
                    html += '<div class="well well-sm">' + json['product']['description'] + '</div>';
                }
                html += '</div>';
                html += '</div>';
                
                $('#product-details').html(html);
            } else {
                $('#product-details').html('<div class="alert alert-danger">{{ error_product_not_found }}</div>');
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            $('#product-details').html('<div class="alert alert-danger">{{ error_ajax }}</div>');
        }
    });
}

// Ürün silme
function deleteProduct(product_id) {
    if (confirm('{{ text_confirm_delete }}')) {
        $.ajax({
            url: 'index.php?route=extension/mestech/ozon/deleteProduct&user_token={{ user_token }}',
            type: 'POST',
            data: 'product_id=' + product_id,
            dataType: 'json',
            beforeSend: function() {
                $('#content').prepend('<div class="alert alert-info"><i class="fa fa-spinner fa-spin"></i> {{ text_deleting }}</div>');
            },
            complete: function() {
                $('.alert').remove();
            },
            success: function(json) {
                if (json['success']) {
                    $('#content').prepend('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                    
                    setTimeout(function() {
                        location.reload();
                    }, 1000);
                }
                
                if (json['error']) {
                    $('#content').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    }
}
</script>

{{ footer }}