{{ header }}
<div class="container">
  <header>
    <div class="row">
      <div class="col-sm-6">
        <h1 class="pull-left">{{ heading_title }}</h1>
      </div>
      <div class="col-sm-6">
        <div class="pull-right">Versiyon 1.0.1</div>
      </div>
    </div>
  </header>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-exchange"></i> MesChain Sync Kurulum</h3>
        </div>
        <div class="panel-body">
          <div class="alert alert-info">
            <p>MesChain Sync, OpenCart için pazaryeri entegrasyonları (Trendyol, n11, Amazon, eBay, Hepsiburada, Ozon) sağlayan, mavi tonlu yönetici paneli, HTML duyuru sistemi ve ayrı kullanıcı bilgi depolama ile çoklu kullanıcı yönetimi sunan bir modüldür.</p>
          </div>
          
          <div class="well">
            <div class="row">
              <div class="col-sm-6">
                <h4>Kurulum Adımları:</h4>
                <ol>
                  <li>{{ text_step_1 }}</li>
                  <li>{{ text_step_2 }}</li>
                  <li>{{ text_step_3 }}</li>
                  <li>{{ text_step_4 }}</li>
                </ol>
              </div>
              <div class="col-sm-6">
                <h4>Sistem Gereksinimleri:</h4>
                <ul>
                  <li>OpenCart 3.0.x veya daha yüksek</li>
                  <li>PHP 7.3 veya daha yüksek</li>
                  <li>MySQL 5.7 veya daha yüksek</li>
                  <li>cURL etkin</li>
                  <li>OpenSSL PHP eklentisi</li>
                  <li>ZipArchive PHP kütüphanesi</li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="buttons">
            <div class="pull-left"><a href="{{ back }}" class="btn btn-default">{{ button_back }}</a></div>
            <div class="pull-right">
              <a href="{{ action }}" class="btn btn-primary">{{ text_install }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }} 