{#
  trendyol.twig
  Amaç: Trendyol modülünün OpenCart yönetici paneli arayüz şablonu.
  Standart: Her değişiklikte log tutulmalı (trendyol_view.log).
#}
{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        {% if has_permission %}
        <button type="submit" form="form-trendyol" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary">
          <i class="fa fa-save"></i>
        </button>
        {% endif %}
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default">
          <i class="fa fa-reply"></i>
        </a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible">
      <i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    
    {% if success %}
    <div class="alert alert-success alert-dismissible">
      <i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}

    <!-- Dashboard Cards -->
    {% if has_permission and module_status %}
    <div class="row">
      <div class="col-md-3">
        <div class="panel panel-primary">
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-cloud-upload fa-3x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge">{{ api_status|default('disconnected') }}</div>
                <div>{{ dashboard_api_status }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-md-3">
        <div class="panel panel-info">
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-cubes fa-3x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge">{{ total_products|default(0) }}</div>
                <div>{{ stat_total_products }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-md-3">
        <div class="panel panel-success">
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-shopping-cart fa-3x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge">{{ total_orders|default(0) }}</div>
                <div>{{ stat_total_orders }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-md-3">
        <div class="panel panel-warning">
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-lira fa-3x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge">{{ total_revenue|default('0 TL') }}</div>
                <div>{{ stat_total_revenue }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    <!-- Main Configuration Panel -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="fa fa-cog"></i> {{ text_edit }}
        </h3>
      </div>
      
      <div class="panel-body">
        {% if has_permission %}
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-trendyol" class="form-horizontal">
          
          <!-- Navigation Tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="active">
              <a href="#tab-general" data-toggle="tab">
                <i class="fa fa-cog"></i> {{ tab_general }}
              </a>
            </li>
            <li>
              <a href="#tab-api" data-toggle="tab">
                <i class="fa fa-key"></i> {{ tab_api }}
              </a>
            </li>
            <li>
              <a href="#tab-products" data-toggle="tab">
                <i class="fa fa-cubes"></i> {{ tab_products }}
              </a>
            </li>
            <li>
              <a href="#tab-orders" data-toggle="tab">
                <i class="fa fa-shopping-cart"></i> {{ tab_orders }}
              </a>
            </li>
            <li>
              <a href="#tab-webhooks" data-toggle="tab">
                <i class="fa fa-exchange"></i> {{ tab_webhooks }}
              </a>
            </li>
            <li>
              <a href="#tab-logs" data-toggle="tab">
                <i class="fa fa-file-text-o"></i> {{ tab_logs }}
              </a>
            </li>
            <li>
              <a href="#tab-help" data-toggle="tab">
                <i class="fa fa-question-circle"></i> {{ tab_help }}
              </a>
            </li>
          </ul>
          
          <div class="tab-content">
            
            <!-- General Settings Tab -->
            <div class="tab-pane active" id="tab-general">
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-status">
                  {{ entry_status }}
                </label>
                <div class="col-sm-10">
                  <select name="module_trendyol_status" id="input-trendyol-status" class="form-control">
                    {% if module_trendyol_status %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
                    {% else %}
                    <option value="1">{{ text_enabled }}</option>
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
              
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-debug">
                  {{ entry_debug_mode }}
                </label>
                <div class="col-sm-10">
                  <select name="module_trendyol_debug" id="input-trendyol-debug" class="form-control">
                    {% if module_trendyol_debug %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
                    {% else %}
                    <option value="1">{{ text_enabled }}</option>
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                  </select>
                  <div class="help-block">{{ help_debug_mode }}</div>
                </div>
              </div>
              
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-auto-sync">
                  {{ entry_auto_sync }}
                </label>
                <div class="col-sm-10">
                  <select name="module_trendyol_auto_sync" id="input-auto-sync" class="form-control">
                    {% if module_trendyol_auto_sync %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
                    {% else %}
                    <option value="1">{{ text_enabled }}</option>
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                  </select>
                  <div class="help-block">{{ help_auto_sync }}</div>
                </div>
              </div>
              
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-sync-interval">
                  {{ entry_sync_interval }}
                </label>
                <div class="col-sm-10">
                  <input type="number" name="module_trendyol_sync_interval" value="{{ module_trendyol_sync_interval|default(30) }}" placeholder="{{ entry_sync_interval }}" id="input-sync-interval" class="form-control" min="15" max="1440" />
                  <div class="help-block">{{ help_sync_interval }}</div>
                </div>
              </div>
            </div>
            
            <!-- API Settings Tab -->
            <div class="tab-pane" id="tab-api">
              <div class="alert alert-info">
                <h4><i class="fa fa-info-circle"></i> {{ text_api_info }}</h4>
                <p>{{ help_api_setup }}</p>
              </div>
              
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-api-key">
                  {{ entry_api_key }}
                </label>
                <div class="col-sm-10">
                  <input type="text" name="module_trendyol_api_key" value="{{ module_trendyol_api_key }}" placeholder="{{ entry_api_key }}" id="input-trendyol-api-key" class="form-control" />
                  {% if error_api_key %}
                  <div class="text-danger">{{ error_api_key }}</div>
                  {% endif %}
                  <div class="help-block">{{ help_api_key }}</div>
                </div>
              </div>
              
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-api-secret">
                  {{ entry_api_secret }}
                </label>
                <div class="col-sm-10">
                  <input type="password" name="module_trendyol_api_secret" value="{{ module_trendyol_api_secret }}" placeholder="{{ entry_api_secret }}" id="input-api-secret" class="form-control" />
                  {% if error_api_secret %}
                  <div class="text-danger">{{ error_api_secret }}</div>
                  {% endif %}
                  <div class="help-block">{{ help_api_secret }}</div>
                </div>
              </div>
              
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-supplier-id">
                  {{ entry_supplier_id }}
                </label>
                <div class="col-sm-10">
                  <input type="text" name="module_trendyol_supplier_id" value="{{ module_trendyol_supplier_id }}" placeholder="{{ entry_supplier_id }}" id="input-supplier-id" class="form-control" />
                  {% if error_supplier_id %}
                  <div class="text-danger">{{ error_supplier_id }}</div>
                  {% endif %}
                  <div class="help-block">{{ help_supplier_id }}</div>
                </div>
              </div>
              
              <div class="form-group">
                <label class="col-sm-2 control-label">{{ text_connection_test }}</label>
                <div class="col-sm-10">
                  <button type="button" id="button-test-connection" class="btn btn-primary">
                    <i class="fa fa-check"></i> {{ button_test_connection }}
                  </button>
                  <div id="test-result" class="help-block"></div>
                </div>
              </div>
            </div>
            
            <!-- Products Tab -->
            <div class="tab-pane" id="tab-products">
              <div class="form-group">
                <label class="col-sm-2 control-label">{{ text_product_operations }}</label>
                <div class="col-sm-10">
                  <div class="btn-group">
                    <button type="button" id="button-sync-products" class="btn btn-success">
                      <i class="fa fa-refresh"></i> {{ button_sync_products }}
                    </button>
                    <button type="button" id="button-update-stock" class="btn btn-warning">
                      <i class="fa fa-cubes"></i> {{ button_update_stock }}
                    </button>
                    <button type="button" id="button-update-prices" class="btn btn-info">
                      <i class="fa fa-tag"></i> {{ button_update_prices }}
                    </button>
                  </div>
                </div>
              </div>
              
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-default-category">
                  {{ entry_default_category }}
                </label>
                <div class="col-sm-10">
                  <select name="module_trendyol_default_category" id="input-default-category" class="form-control">
                    <option value="">{{ text_select }}</option>
                    {% for category in categories %}
                    <option value="{{ category.category_id }}" {% if category.category_id == module_trendyol_default_category %}selected="selected"{% endif %}>{{ category.name }}</option>
                    {% endfor %}
                  </select>
                  <div class="help-block">{{ help_default_category }}</div>
                </div>
              </div>
              
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-commission-rate">
                  {{ entry_commission_rate }}
                </label>
                <div class="col-sm-10">
                  <div class="input-group">
                    <input type="number" name="module_trendyol_commission_rate" value="{{ module_trendyol_commission_rate|default(8) }}" placeholder="{{ entry_commission_rate }}" id="input-commission-rate" class="form-control" min="0" max="100" step="0.1" />
                    <span class="input-group-addon">%</span>
                  </div>
                  <div class="help-block">{{ help_commission_rate }}</div>
                </div>
              </div>
            </div>
            
            <!-- Orders Tab -->
            <div class="tab-pane" id="tab-orders">
              <div class="form-group">
                <label class="col-sm-2 control-label">{{ text_order_operations }}</label>
                <div class="col-sm-10">
                  <div class="btn-group">
                    <button type="button" id="button-sync-orders" class="btn btn-success">
                      <i class="fa fa-refresh"></i> {{ button_sync_orders }}
                    </button>
                    <button type="button" id="button-import-orders" class="btn btn-primary">
                      <i class="fa fa-download"></i> {{ button_import_orders }}
                    </button>
                  </div>
                </div>
              </div>
              
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-auto-import-orders">
                  {{ entry_auto_import_orders }}
                </label>
                <div class="col-sm-10">
                  <select name="module_trendyol_auto_import_orders" id="input-auto-import-orders" class="form-control">
                    {% if module_trendyol_auto_import_orders %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
                    {% else %}
                    <option value="1">{{ text_enabled }}</option>
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                  </select>
                  <div class="help-block">{{ help_auto_import_orders }}</div>
                </div>
              </div>
              
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-order-status-mapping">
                  {{ entry_order_status_mapping }}
                </label>
                <div class="col-sm-10">
                  <select name="module_trendyol_order_status_mapping" id="input-order-status-mapping" class="form-control">
                    {% for status in order_statuses %}
                    <option value="{{ status.order_status_id }}" {% if status.order_status_id == module_trendyol_order_status_mapping %}selected="selected"{% endif %}>{{ status.name }}</option>
                    {% endfor %}
                  </select>
                  <div class="help-block">{{ help_order_status_mapping }}</div>
                </div>
              </div>
            </div>
            
            <!-- Webhooks Tab -->
            <div class="tab-pane" id="tab-webhooks">
              <div class="alert alert-info">
                <h4><i class="fa fa-info-circle"></i> {{ text_webhook_info }}</h4>
                <p>{{ help_webhook_setup }}</p>
                <p><strong>{{ text_webhook_url }}:</strong> <code>{{ webhook_url }}</code></p>
              </div>
              
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-webhook-enabled">
                  {{ entry_webhook_enabled }}
                </label>
                <div class="col-sm-10">
                  <select name="module_trendyol_webhook_enabled" id="input-webhook-enabled" class="form-control">
                    {% if module_trendyol_webhook_enabled %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
                    {% else %}
                    <option value="1">{{ text_enabled }}</option>
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                  </select>
                  <div class="help-block">{{ help_webhook_enabled }}</div>
                </div>
              </div>
              
              <div class="form-group">
                <label class="col-sm-2 control-label">{{ text_webhook_management }}</label>
                <div class="col-sm-10">
                  <a href="{{ webhook_management_url }}" class="btn btn-info">
                    <i class="fa fa-exchange"></i> {{ button_manage_webhooks }}
                  </a>
                </div>
              </div>
            </div>
            
            <!-- Logs Tab -->
            <div class="tab-pane" id="tab-logs">
              <div class="form-group">
                <label class="col-sm-2 control-label">{{ text_log_operations }}</label>
                <div class="col-sm-10">
                  <div class="btn-group">
                    <button type="button" id="button-view-logs" class="btn btn-info">
                      <i class="fa fa-eye"></i> {{ button_view_logs }}
                    </button>
                    <button type="button" id="button-clear-logs" class="btn btn-warning">
                      <i class="fa fa-trash"></i> {{ button_clear_logs }}
                    </button>
                  </div>
                </div>
              </div>
              
              {% if logs %}
              <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>{{ column_date }}</th>
                      <th>{{ column_type }}</th>
                      <th>{{ column_message }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for log in logs %}
                    <tr>
                      <td>{{ log.date_added }}</td>
                      <td>
                        {% if log.type == 'error' %}
                          <span class="label label-danger">{{ log_error }}</span>
                        {% elseif log.type == 'warning' %}
                          <span class="label label-warning">{{ log_warning }}</span>
                        {% elseif log.type == 'success' %}
                          <span class="label label-success">{{ log_success }}</span>
                        {% else %}
                          <span class="label label-info">{{ log_info }}</span>
                        {% endif %}
                      </td>
                      <td>{{ log.message }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              {% else %}
              <div class="alert alert-info">
                <i class="fa fa-info-circle"></i> {{ info_no_logs }}
              </div>
              {% endif %}
            </div>
            
            <!-- Help Tab -->
            <div class="tab-pane" id="tab-help">
              <div class="row">
                <div class="col-md-6">
                  <div class="panel panel-info">
                    <div class="panel-heading">
                      <h3 class="panel-title">{{ text_setup_guide }}</h3>
                    </div>
                    <div class="panel-body">
                      <ol>
                        <li>{{ help_step_1 }}</li>
                        <li>{{ help_step_2 }}</li>
                        <li>{{ help_step_3 }}</li>
                        <li>{{ help_step_4 }}</li>
                        <li>{{ help_step_5 }}</li>
                      </ol>
                    </div>
                  </div>
                </div>
                
                <div class="col-md-6">
                  <div class="panel panel-warning">
                    <div class="panel-heading">
                      <h3 class="panel-title">{{ text_troubleshooting }}</h3>
                    </div>
                    <div class="panel-body">
                      <p><strong>{{ text_common_issues }}:</strong></p>
                      <ul>
                        <li>{{ troubleshoot_connection }}</li>
                        <li>{{ troubleshoot_sync }}</li>
                        <li>{{ troubleshoot_webhooks }}</li>
                        <li>{{ troubleshoot_permissions }}</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </form>
        {% else %}
        <div class="alert alert-warning">
          <i class="fa fa-exclamation-triangle"></i> {{ error_permission }}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<!-- Loading Modal -->
<div class="modal fade" id="loadingModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <i class="fa fa-spinner fa-spin fa-3x"></i>
        <p>{{ text_loading }}</p>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
// Test Connection
$('#button-test-connection').on('click', function() {
    $('#loadingModal').modal('show');
    
    $.ajax({
        url: 'index.php?route=extension/module/trendyol/testConnection&user_token={{ user_token }}',
        type: 'post',
        data: {
            api_key: $('#input-api-key').val(),
            api_secret: $('#input-api-secret').val(),
            supplier_id: $('#input-supplier-id').val()
        },
        dataType: 'json',
        success: function(json) {
            $('#loadingModal').modal('hide');
            
            if (json.success) {
                $('#test-result').html('<div class="alert alert-success"><i class="fa fa-check"></i> ' + json.success + '</div>');
            } else if (json.error) {
                $('#test-result').html('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json.error + '</div>');
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            $('#loadingModal').modal('hide');
            $('#test-result').html('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_connection }}</div>');
        }
    });
});

// Sync Products
$('#button-sync-products').on('click', function() {
    $('#loadingModal').modal('show');
    
    $.ajax({
        url: 'index.php?route=extension/module/trendyol/syncProducts&user_token={{ user_token }}',
        type: 'post',
        dataType: 'json',
        success: function(json) {
            $('#loadingModal').modal('hide');
            
            if (json.success) {
                $('.alert').remove();
                $('#content .container-fluid').prepend('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json.success + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
            } else if (json.error) {
                $('.alert').remove();
                $('#content .container-fluid').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json.error + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            $('#loadingModal').modal('hide');
            $('.alert').remove();
            $('#content .container-fluid').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_sync_products }}<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
        }
    });
});

// Sync Orders
$('#button-sync-orders').on('click', function() {
    $('#loadingModal').modal('show');
    
    $.ajax({
        url: 'index.php?route=extension/module/trendyol/syncOrders&user_token={{ user_token }}',
        type: 'post',
        dataType: 'json',
        success: function(json) {
            $('#loadingModal').modal('hide');
            
            if (json.success) {
                $('.alert').remove();
                $('#content .container-fluid').prepend('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json.success + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
            } else if (json.error) {
                $('.alert').remove();
                $('#content .container-fluid').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json.error + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            $('#loadingModal').modal('hide');
            $('.alert').remove();
            $('#content .container-fluid').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_sync_orders }}<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
        }
    });
});

// Update Stock
$('#button-update-stock').on('click', function() {
    $('#loadingModal').modal('show');
    
    $.ajax({
        url: 'index.php?route=extension/module/trendyol/updateStock&user_token={{ user_token }}',
        type: 'post',
        dataType: 'json',
        success: function(json) {
            $('#loadingModal').modal('hide');
            
            if (json.success) {
                $('.alert').remove();
                $('#content .container-fluid').prepend('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json.success + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
            } else if (json.error) {
                $('.alert').remove();
                $('#content .container-fluid').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json.error + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
            }
        }
    });
});

// Update Prices
$('#button-update-prices').on('click', function() {
    $('#loadingModal').modal('show');
    
    $.ajax({
        url: 'index.php?route=extension/module/trendyol/updatePrices&user_token={{ user_token }}',
        type: 'post',
        dataType: 'json',
        success: function(json) {
            $('#loadingModal').modal('hide');
            
            if (json.success) {
                $('.alert').remove();
                $('#content .container-fluid').prepend('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json.success + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
            } else if (json.error) {
                $('.alert').remove();
                $('#content .container-fluid').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json.error + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
            }
        }
    });
});

// Clear Logs
$('#button-clear-logs').on('click', function() {
    if (confirm('{{ text_confirm_clear_logs }}')) {
        $.ajax({
            url: 'index.php?route=extension/module/trendyol/clearLogs&user_token={{ user_token }}',
            type: 'post',
            dataType: 'json',
            success: function(json) {
                if (json.success) {
                    location.reload();
                }
            }
        });
    }
});

// View Logs
$('#button-view-logs').on('click', function() {
    window.open('index.php?route=extension/module/trendyol/logs&user_token={{ user_token }}', '_blank');
});
</script>

{{ footer }} 