{% if error_warning %}
  <div class="alert alert-danger">{{ error_warning }}</div>
{% endif %}
{% if success %}
  <div class="alert alert-success">{{ success }}</div>
{% endif %}
<form action="{{ action }}" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="input-api-key">{{ api_key_label }}</label>
    <input type="text" name="module_trendyol_api_key" value="{{ module_trendyol_api_key }}" class="form-control" id="input-trendyol-user-api-key" />
  </div>
  <button type="submit" class="btn btn-primary">Kaydet</button>
  <a href="{{ cancel }}" class="btn btn-default">İptal</a>
</form>
<!-- Kullanıcı panelinde sadece temel bilgi ve API Key alanı var --> 